name: Actualizaci칩n Autom치tica de Lista LATAM (Final)

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch:

jobs:
  filtrar_y_actualizar:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Descargar, Filtrar y Generar Archivo Final
        run: |
          # ----------------------------------------------------------------------
          DEST_FILE="latam.m3u"
          TEMP_FILTER_FILE="latam_temp.m3u"
          INPUT_FILE="lista_completa_original.m3u"
          # ----------------------------------------------------------------------
          
          # 1. DESCARGAR FUENTE (Temporal)
          curl -s "https://iptv-org.github.io/iptv/index.m3u" > $INPUT_FILE

          # 2. CONFIGURAR FILTROS Y ENCABEZADO
          echo "#EXTM3U" > $TEMP_FILTER_FILE
          BLOCK_CODES='es|de|fr|it|uk|ru|cn|jp|kr|th|ae|tv|il|pl|cz|hu|ro|in|pk|bg|al|gr|be|ch|se|no|dk|fi|ie|nl|za|au|nz|ca|ir|eg|ng|ke|sa|tr|rs|ua|sk|hu'

          # 3. FILTRAR y ESCRIBIR en Temporal
          awk -v block_codes="$BLOCK_CODES" '
            /#EXTINF/ {
                header = $0;
                i = 1; 
                next;
            }
            /http/ && i == 1 {
                if (header !~ block_codes "@") {
                    print header;
                    print $0;
                }
                i = 0;
            }' "$INPUT_FILE" >> $TEMP_FILTER_FILE

          # 4. SOBREESCRIBIR el archivo final (latam.m3u) con el contenido filtrado
          mv $TEMP_FILTER_FILE $DEST_FILE
          
          # 5. LIMPIEZA FINAL: Borrar el archivo original descargado
          rm $INPUT_FILE

      - name: Subir solo el Archivo Final (latam.m3u)
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Actualizaci칩n autom치tica: Lista LATAM+US(Latino) filtrada y limpia (Finalizado)."
          file_pattern: latam.m3u # <<<< Asegura que solo este archivo se incluya
